**/*.asv
**/.*.m
**/FZ.*.*
**/FZ.mtr
**/slurm-*.out
*.node
code/data/*.mat
code/data/randOctParity/*.mat
code/data/randOctParity/pcombs/*.mat
code/data/randOctParity/pcombs/trash/
code/bugtest.m
code/panel-arc-10000.mat
code/egpr-10000.mat
code/egprm-1000.mat
code/egprm-10000.mat
code/parameters/*
data/gitID-0055bee_uuID-475a2dfd_paper-data6.mat
data/diary/gpr388_gitID-13fe5d2_puuID-35f5a572_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-39d28f3e_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-72d17f55_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-9f6dc601_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-a4832f5c_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-d5a236dc_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-fabea5ac_olmsted-Ni-rng12.txt
data/diary/gpr388_gitID-13fe5d2_puuID-fd6692b8_olmsted-Ni-rng12.txt
parameters/uuID-2b845230.mat
parameters/uuID-3f283e6b.mat
parameters/uuID-4497dd47.mat
parameters/uuID-45c389cf.mat
parameters/uuID-699884fa.mat
parameters/uuID-8c717038.mat
parameters/uuID-9d2c4569.mat
parameters/uuID-9f7c2c99.mat
data/pcombs/gpr388_gitID-13fe5d2_puuID-fabea5ac_olmsted-Ni-rng12.mat
data/pcombs/gpr388_gitID-13fe5d2_puuID-fabea5ac_olmsted-Ni-rng12_meta.mat
data/pcombs/gpr388_gitID-13fe5d2_puuID-fd6692b8_olmsted-Ni-rng12.mat
data/pcombs/gpr388_gitID-13fe5d2_puuID-fd6692b8_olmsted-Ni-rng12_meta.mat
code/data/randOctParity/
code/data/
data/*
data/diary/*
data/pcombs/*
!data/diary/avg100_gitID-5308c86_puuID-e3eeb8fe_paper-data9-test.txt
!data/pcombs/avg100_gitID-5308c86_puuID-e3eeb8fe_paper-data9-test_meta.mat
parameters/**
!parameters/uuID-15abb01b.mat
code/interp5DOF-paper/
code/latexTable/
code/ternplot/
code/interp5DOF_GB5DOF_port.zip
code/bare_bones.m
