[submodule "code/MATslurm"]
	path = code/MATslurm
	url = ../MATslurm.git #relative path

	#url = git@github.com:sgbaird-5dof/MATslurm.git
[submodule "interp5DOF-paper"]
	path = code/interp5DOF-paper
	url = ../../sgbaird/interp5DOF-paper.git
[submodule "zhang-fe-mobility"]
	path = code/zhang-fe-mobility
	url = https://github.com/sgbaird-5DOF/zhang-fe-mobility.git
[submodule "mobility-paper"]
	path = mobility-paper
	url = https://github.com/sgbaird-5DOF/mobility-paper.git
