[submodule "code/MATslurm"]
	path = code/MATslurm
	url = ../MATslurm.git #relative path

	#url = git@github.com:sgbaird-5dof/MATslurm.git
[submodule "interp5DOF-paper"]
	path = code/interp5DOF-paper
	url = ../../sgbaird/interp5DOF-paper.git
